*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/********************* SECTION CARDS************************ */
.icon-card[src="img/estrella2.png"] {
  position: absolute;
  width: 10vh;
  margin-left: -2em;
}
.card{
  justify-content:flex-end;
  flex-direction: column;
}
.icon-lupa{
  position: absolute;
  width: 2%;
  top: -5.5%;
  right: 10%;
}
.icon-mochila{
  position: absolute;
   width: 2%;
  top: -5.5%;
  right: 7%;

}
.icon-numero{
  position: absolute;
  top: 5%;
  right: 10%;
}




.icon[src="img/estrella2.png"] {
  position: absolute;
  width: 10vh;
  margin-left: -2em;
}

.imagen-card[src="img/elipse.png"]{
  position: relative;
  width: 90%;
  left: 174%;
}
.imagen[src="img/mujer.png"]{
  width: 130%;
  background-color: transparent;
  top: 0;
  z-index: 1;
}

.icon-2[src="img/estrella2.png"]{
  width: 12%;
  position: relative;
  float:inline-end;
  right: 12%;
  bottom: 60%;
  z-index: 0;
}

/* **********SECTION HEADER************ */
.header{
  background-color: #21a782;
 
}


.icon[src="img/estrella1.png"] {
  margin-left: 10%;
  width: 15vh;
}

.icon[src="img/microfono.png"] {
  margin-left: 20%;
  width: 3vh;
}

.icon[src="img/hamburger.png"] {
  margin-left: 10%;
  width: 3vh;
}


/* **********SECTION 1************ */


section {
  display: flex; 
  position: relative;
  justify-content: center;
}

.titulos-parrafos{
  width: 30%;
  justify-self: flex-start;
  align-self: flex-start;
}

.title{

  font-size: 6em;
  color: rgb(242, 234, 214);
  line-height: 0.7em; 
  text-align: center;
  margin-top: 1em; 
 
}

.parrafo {
  font-size: 1em;
  color: #1d1d1d;
  font-family: "DM Sans";
  margin-top: 20px; 
  margin-left: 0%;
  text-align: center;
  padding: 50px;

}

.buttons{
  display: flex;
  justify-content: center;
  
}

.buttons-1{
display: flex;
flex-direction: column;
justify-content: center;
}

button{
width: 30%;
height: 6vh;
border-radius: 20px;
background-color: #e4a2a7;
border: 3px solid #1e1e1e;
margin: 4px;
}
.button-2{
border-radius: 20px;
background-color: transparent;
border: 3px solid #1e1e1e;


}




/* ******************************SECTION 2 ************************/

section:nth-of-type(4) {
  background-color: #e4a2a7; 
}

.center { 
  display: flex;
  flex-direction: column;
  background-color: #e4a2a7;
  width: 100%;

}

.parrafo_3{
  padding: 30px;
  width: 50%;
  text-align: center;
  margin-left: 23%;
  
}

.title-center{
  justify-self: center;
  align-self: center;
  width: 50%;
  
}



h2.title-small{
  text-align: center;
}

.title-small{
  display: flex; 
  justify-content: center; 
  font-size: 2em;
  color: rgb(242, 234, 214);
  padding: 100px;

}

.title_2{
  font-size: 7em;
  color: rgb(242, 234, 214);
  line-height: 0.7em; 
  margin-top: 30px; 
  text-align: center;
}
.parrafo_2 {
  font-size: 1em;
  color: #1d1d1d;
  font-family: "DM Sans";
  margin-top: 40px; 
  width: 70%;
  margin-left: 20%;
}


.icon[src="img/estrella3.png"] {
  margin-left: 45%;
  margin-top: 10%;
}


  .icon[src="img/listen.png"] {
    float: left;
    width: 15%;
}

.icon1{
    width: 12vw;
    position: absolute;
}
.lineas{
  position: relative;
  width: 0;
  bottom: 10vh;
  left: 70vw;
}

.icon2{
    width: 8vw;
    position: absolute;
    top: 11em;
}
.lineas-2{
  position: relative;
  width: 0;
  bottom: 10em;
  right: 20vw;
}


/* ******************SECTION 3************************ */

section:nth-of-type(3) {
  padding-top: 40px;
  padding-bottom: 40px;
}


.imagen[src="img/mujer2.png"]{
  width: 30em;  
  padding: 30px;
}

.icon[src="img/estrella2.png"]{
  position: relative;
  width: 16%;  
  float: inline-start;
  left: 10em;

}

.icon-small[src="img/estrella2.png"]{
  position: relative;
  left: 6em;
}


.slides{
  background-color: #e4a2a7;
}

.imagen-side-1{

  position: absolute;
  right: 81.3%;
  transform: scale(0.8);
  height: auto;
}


.imagen-side-2{

  position: absolute;
  left: 81.3%;
  top: 0%;
  transform: scale(0.8);
  height: auto;
  
}



















/* ******************SECTION 4************************ */





.imagen[src="img/mujer3.png"]{
  position: relative;
  width: 60%;  
  left: 60%;
  z-index: 1;
}

.icon[src="img/Ellipse.png"]{
  position: absolute;
  width: 28%;
  top: 3%;
  right: 0%;
}


.icon3{
    width: 12vw;
    top: -10vh;
    position: absolute;
}
.lineas-3{
  position: relative;
  width: 0;
  top: 31em;
  right: 0vw;
}
/* *********************SECTION 5********************************* */

.imagen[src="img/mujer4.png"]{
  display: flex;
  width: 20em;
  justify-content: start;
}

.imagen[src="img/mujer4.1.png"]{
  width: 20em;
}

.imagen[src="img/mujer4.2.png"]{
  width: 20em;
}

.title-2{
font-size: 4em;
color: rgb(242, 234, 214);
line-height: 0.7em; 
text-align: center;
margin-bottom: 10%; 
}

.icon-2[src="img/lineas2.png"]{
  position: absolute;
  width: 14%;
  left: 86%;

}


.title-small-2{
  text-align: center;
  font-size: 2em;
  color: rgb(242, 234, 214);

}



/* *****************************SECTION 6********************************* */

section .titulos-parrafos .title-small {
  font-size: 1em;
  padding: 0.1em;
}
.imagen[src="img/lineas2.png"]{
  width: 17.2em;
  position: relative;
  margin-left: 10em;
  left: 15em;
}

.icon-small[src="img/estrella2.png"]{
  width: 30%;  
  float: inline-end;
  
}

img.imagen-card {
  position: absolute;
  width: 22%;
  right: -0.2%;
  bottom: 2%;
}

img.icon-card-2 {
  position: absolute;
  width: 10%;
  right: 17%;
  bottom: 61%;
}




/* ***********************FORTTER ****************************** */
footer {
  background-color: #e4a2a7; 
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.footer-section {
  margin-right: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.copyright {
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
  flex: 1;
}


li{
  color: black;
}



/************************** RESPONSIVE********************** */

@media (max-width: 1024px) and (max-height: 865px) {



.parrafo{
  padding: 20px;
}

.icon-numero{
  width: 4%;
}

  .imagen[src="img/mujer.png"]{
  position: absolute;
  width: 25%;
  top: 30%;
  z-index: 1;
}
 
.imagen[src="img/mujer3.png"]{
  width: 55%;  
  left: 45%;
  top: 0%;
  position: relative;
  z-index: 1;
}


.icon-2[src="img/lineas2.png"]{
  position: absolute;
  width: 20%;
  left: 80%;
}
.imagen-card[src="img/elipse.png"]{
  position: relative;
  width: 90%;
  left: 75%;
}


.icon-small[src="img/estrella2.png"]{
  
  width: 30%;  
  left: 0%;
}

.imagen[src="img/mujer2.png"]{
  width: 25em;  
  padding: 30px;
}
.titulos-parrafos{
  width: 30%;
  justify-self: center;
  align-self: center;
  left: 20%;
}
.icon[src="img/primera.png"]{
  position: relative;
  right: 10;
  width: 5vh;

 }

 .imagen-card[src="img/elipse.png"]{
  position: relative;
  width: 87%;
  left: 79%;
  top: 19%;
}

.imagen-side-2{

  position: absolute;
  left: 76.2%;
  top: 0%;
  transform: scale(0.8);
  height: auto;
  
}
.title_2{
  font-size: 2em;
  color: rgb(242, 234, 214);
  line-height: 0.7em; 
  margin-top: 30px; 
  text-align: center;
}

.titulos-parrafos{
  width: 50%;
}

}



@media (max-width: 768px) and (max-height: 519px) {
 
  .titulos-parrafos{
    width: 50%;
    justify-self: center;
    align-self: center;
    left: 20%;
  }

  .imagen[src="img/mujer.png"]{
    position: absolute;
    width: 35%;
    top: 30%;
    z-index: 1;
  }

  .imagen[src="img/mujer3.png"]{
    width: 55%;  
    left: 45%;
    top: 0%;
    position: relative;
    z-index: 1;
  }
.imagen[src="img/Ellipse.png"]{
  position: absolute;
  width: 40%;
  right: 0;
  top: 40%;

}

.imagen-card[src="img/elipse.png"]{
  position: relative;
  width: 80%;
  left: 57%;
}

.title{

  font-size: 4em;
  color: rgb(242, 234, 214);
  line-height: 0.7em; 
  text-align: center;
  margin-top: 1em; 
 
}

.icon-small[src="img/estrella2.png"]{
  
  width: 30%;  
  left: 0%;
}

.imagen[src="img/mujer2.png"]{
  width: 25em;  
  padding: 30px;
}
.titulos-parrafos{
  width: 30%;
  justify-self: center;
  align-self: center;
  left: 20%;
}
.icon[src="img/primera.png"]{
  position: relative;
  right: 10;
  width: 5vh;

 }


 .imagen-side-1{

  position: absolute;
  right: 73%;
  top: 0%;
  width: 30%;
  height: auto;
  
}
 .imagen-side-2{

  position: absolute;
  left: 73%;
  top: 0%;
  width: 30%;
  height: auto;
  
}
}

@media (max-width: 425px) and (max-height: 519px) {

  .icon[src="img/Ellipse.png"]{top: 37%;}
  .img.icon4{ width: 10%;}
  .title-2{font-size: 20px}
  .imagen[src="img/mujer4.png"]{width: 74%;}
  .imagen[src="img/mujer4.1.png"]{width: 74%;}
  .imagen[src="img/mujer4.2.png"]{width: 74%;}
  .title-small-2{ font-size: 20px}
  .parrafo_3{font-size: 10px;}
  li{font-size: 10px;}
  .icon4{width: 60%;}


  .titulos-parrafos{
    width: 100%;
    justify-self: center;
    align-self: center;
    left: 20%;
  }
  button{width: 
    40%;height: 
    6vh;border-radius: 
    20px;background-color:
     #e4a2a7;
     border: 
     3px solid #1e1e1e;
     margin: 2px;
     font-size: 6px;}
.title{

  font-size: 2em;
  color: rgb(242, 234, 214);
  line-height: 0.7em; 
  text-align: center;
  margin-top: 1em; 
 
}

.parrafo {
  font-size: 0.6em;
  color: #1d1d1d;
  font-family: "DM Sans";
  margin-top: 20px; 
  margin-left: 0%;
  text-align: center;
  padding: 50px;

}

.imagen[src="img/mujer.png"]{
  position: relative;
  width: 76%;
  top: 88%;
  z-index: 1;
  left: 10%;
}

.title-small{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(242, 234, 214);
  padding: 30px;
}


.icon[src="img/estrella3.png"] {
  margin-left: 30%;
  margin-top: 20%;
  width: 20%;
}

.icon[src="img/estrella2.png"]{
  position: relative;
  width: 16%;
  float: inline-start;
  left: 26%;
}

.imagen[src="img/mujer2.png"]
{
  width: 75%;
  padding: 10px;
}

.title{
  font-size: 1em;
  color: rgb(242, 234, 214);
  line-height: 0.7em;
  text-align: center;
  margin-top: 1em;
}

.parrafo {
  font-size: 10px;
  color: #1d1d1d;
  font-family: "DM Sans";
  margin-top: 20px;
  margin-left: 0%;
  text-align: center;
  padding: 10px;
}

.imagen[src="img/mujer3.png"]{
  width: 55%;  
  left: 45%;
  top: 0%;
  position: relative;
  z-index: 1;
}
.imagen[src="img/mujer3.png"]{
  width: 50%;
  left: 45%;
  top: 0%;
  position: relative;
  z-index: 1;
}
}